{# Siarme\ExpedienteBundle\Resources\views\Expediente\modal_new.html.twig#}

<div class="modal fade" id="expedienteNew" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">NUEVO EXPEDIENTE</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
            {{ form_start(form,  {'action': path('expediente_new'), 'method': 'POST'}) }}
                {{ form_widget(form) }}
                <span class="help-block">Debes ingresar una descripcion del Obejto de Contratación</span>
                        <div class="text-right">
                             <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCELAR</button>
                             <input class="btn btn-danger" type="submit" value="GUARDAR" />
                        </div>
            {{ form_end(form) }}
        </div>
        <div class="modal-footer">
        </div>
    </div>
  </div>
</div>