<br>
<p style="margin-left:0cm; margin-right:0cm; text-align:left">
	<strong>
		<small>
		Ref.: {{documento.tramite.expediente | upper}}
		 <br>
		Iniciador: {{documento.tramite.expediente.agente | upper}} 
		</small>
	</strong>
</p>
<p style="margin-left:0cm; margin-right:0cm; text-align:justify">
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Se remiten las actuaciones de referencia a <strong> {{documento.tramite.organismoOrigen | upper}}</strong>, para prosecución de tramite, al haber tomado conocimiento de lo informado en las mismas. <br>
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Atentamente.- 
</p>

