<p style="text-align:center"> 
	<br>
 <strong>{{ documento.tramite.expediente.agente | upper }}<br>OBSERVACIONES:</strong></p>
 <p style="margin-left:1cm; margin-right:0cm; text-align:justify"><br><br>
</p>
