<hr />
<p style="text-align:center"><span style="font-size:14px"><strong>{{ documento.nombreDocumento | upper }}</strong></span></p>
<hr />


<p style="margin-left:0cm; margin-right:0cm; text-align:center">
FECHA:
 <strong> fecha </strong> a horas: <strong> hora hs.</strong><br>
AGENTE: <br>
<strong>  agente, CUIL: cuil</strong><br>
 TRAMITE:  <br> <strong>  expediente - extracto 
</strong>
</p>
<hr>
