
        {{ form_start(form,  {'action': path('usuario_sector_new', {'id': usuario.id}), 'method': 'POST'}) }}
            {{ form_widget(form) }}

            <div class="text-right">
                <input class="btn btn-danger btn-sm" type="submit" value="Guardar" />
            </div>
        {{ form_end(form) }}



