{# Siarme\AusentismoBundle\Resources\views\ItemPedido\modal_new.html.twig #}
{{ form_start(form,  {'action': path('item_pedido_new', {'id': itemPedido.tramite.id}), 'method': 'POST'}) }}
<div class=" list-group-item-info"> 
    <label for="codigo1"><span class="glyphicon glyphicon-search"></span> Buscar Item</label>
      <select id="codigo1" name="codigo">
        <option value="0"></option>
    </select>
    -
</div>
{{ form_widget(form) }}
          <div class="text-right">
            <input class="btn btn-danger" type="submit" value="GUARDAR"/>
          </div>
{{ form_end(form) }}
