<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ /web/$1 [QSA,L]
</IfModule>
# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPALLOWID:HaxUePTxR9
allow from 181.15.95.61
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE HaxUePTxR9:IPALLOWID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPDENYID:tXFcKXmrDY
deny from 156.146.33.68
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE tXFcKXmrDY:IPDENYID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPDENYID:4zN0jFPcEO
deny from 20.166.35.92
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE 4zN0jFPcEO:IPDENYID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPDENYID:2kBbCTKl4c
deny from 185.94.188.134
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE 2kBbCTKl4c:IPDENYID

