{% extends 'ExpedienteBundle:Default:layout.html.twig' %}
{% block title %} {{usuario}}{% endblock %}
{% block contenido %}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading text-center">  
             <p>Modificar</p>
        </div>
        <div class="panel-body">

        {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}

            <div class="text-right">
                <input class="btn btn-danger btn-sm" type="submit" value="Guardar" />
            </div>
        {{ form_end(edit_form) }}
            </div>
    </div>
</div>
{% endblock %}
