{# Siarme\ExpedienteBundle\Resources\views\Tramite\modal_edit.html.twig #}
            {{ form_start(edit_form,  {'action': path('tramite_edit', {'id': tramite.id}), 'method': 'POST'}) }}
            {{ form_widget(edit_form) }}
            <div class="text-right">
              <input class="btn btn-danger" type="submit" value="GUARDAR" />
            </div>
            {{ form_end(edit_form) }}
            <span class=""></span>