<!DOCTYPE html>
{% set texto1  %}
    <span style="font-size:14px; text-aling: justify">
    {% if slug != "caratula" %}
        {{ include('DocumentoBundle::Documento/include/fecha_text.html.twig') }}
    {% endif %}
{#                     {{ include( template_from_string(documento.tipoDocumento.texto),['DocumentoBundle::Documento/include/'~ slug ~'_text.html.twig', 'DocumentoBundle::Documento/include/default_text.html.twig']) }} #}
    {{ include(['DocumentoBundle::Documento/include/'~ slug ~'_text.html.twig', 'DocumentoBundle::Documento/include/default_text.html.twig']) }}
    </span>          
{% endset %} 
<div class="panel panel-default">
 <div class="panel-body"> 
   {% if documento.tipoDocumento.esArchivo %}
    {{ include('DocumentoBundle::Documento/include/form_archivo_modal.html.twig')}}
    {% endif %}
 </div>
</div>   

