      {# calidad con etiquetas label #}
<div role="presentation" class="dropdown" data-toggle="tooltip" data-placement="top"  title='Selecciona la calidad para todos los Ãtems' >
    Aplicar Calidad a Todos:<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      <span id="etiqueta-calidad" class="etiqueta-calidad text-info">
          <span class="text-info">Seleccionar</span>
         <span class="caret"></span>
       </span>
    </a>
    <ul class="dropdown-menu">
                <li><a  href="{{ path('item_oferta_calidad_todo', { 'id': tramite.id, 'calidad':0 }) }}">Ninguna</a></li>
                <li><a  href="{{ path('item_oferta_calidad_todo', { 'id': tramite.id, 'calidad':1 }) }}">No se Ajusta</a></li>
                <li><a  href="{{ path('item_oferta_calidad_todo', { 'id': tramite.id, 'calidad':2 }) }}">Bueno</a></li>
                <li><a  href="{{ path('item_oferta_calidad_todo', { 'id': tramite.id, 'calidad':3 }) }}">Muy Bueno</a></li>
    </ul>

</div>
