{# Siarme\AusentismoBundle\Resources\views\ItemProceso\_etiqueta_estado.html.twig  #}
{% set estado = "Evaluación" %}

{% if itemOferta.calidad == 0 %}
    <span class="glyphicon glyphicon-remove text-warning"></span>
{% else itemOferta.calidad == 1 %}
    N/A
{% endif %}
{% if itemOferta.estado %}

    {% if itemOferta.adjudicado %}
        Adjudicado
    {% else %} 
        - 
    {% endif %}
{% else %}
    No válido
{% endif %}  
{{estado | raw}}