{# Siarme\ExpedienteBundle\Resources\views\Expediente\modal_edit.html.twig #}

{{ form_start(edit_form,  {'action': path('itemoferta_texto_edit', {'id': itemOferta.id}), 'method': 'POST'}) }}
        {{ form_widget(edit_form) }}
          <div class="text-right">
            <input class="btn btn-danger" onclick= "return confirm('¿Desea GUARDAR?');" type="submit" value="GUARDAR"/>
          </div>
{{ form_end(edit_form) }}
