{# Siarme\AusentismoBundle\Resources\views\ItemProceso\_etiqueta_estado.html.twig  #}
{% set estado = "Evaluación" %}
{% if itemProceso.itemOferta | length > 0 %}
    {% if itemProceso.proceso.adjudicado %}
        {% set estado = '<span class="label label-default">Fracasado</span>' %}
        {% for item in itemProceso.itemOferta if item.adjudicado %}
            {% set estado = '<span class="label label-success">Preadjudicado</span>' %}
        {% endfor %}            
    {% endif %}
{% else %}
    {% set estado = '<span class="label label-warning">Desierto</span>' %}
{% endif %}
{{estado | raw}}