{# Siarme\AusentismoBundle\Resources\views\ItemProceso\_menu_acciones_item.html.twig #}
  
    <a data-toggle="tooltip" data-placement="top" title='Elimina el item Solicitado y los item ofertados relacionados' data-href="{{ path('item_proceso_eliminar', { 'id': itemProceso.id }) }}" class="btn-eliminar-item" role="button" ><span class="glyphicon glyphicon-trash text-danger"></span></a>