        {% if documento.tipoDocumento.esArchivo %}
        	{{documento.texto | raw}}
         {% endif %} 

{% set type = documento.archivo | default('nn.pdf') |split('.') %}

	{% if type[1] in ["pdf","png","txt","jpg","bmp","jpeg",] %}
		<embed src="{{ asset('uploads/archivos/' ~ documento.archivo) }}" type="application/pdf" width="100%" height="800px" />
   {% elseif type[1] in ["zip","rar"]  %}
   			<div class="text-center">
   				<h3>Archivo Comprimido</h3>
   			</div>
   {% else %}
		<iframe src='https://view.officeapps.live.com/op/embed.aspx?src=www.compras-sca.online{{ asset('uploads/archivos/' ~ documento.archivo) }}' width='100%' height='800px' frameborder='0'></iframe>
 {% endif %}