{{ form_start(form) }}
{{ form_widget(form) }}
	<div class="text-right">
	    {% if documento.tramite.tipoTramite.slug != "tramite_doc" %}
                <a class="btn btn-primary" href="{{ path('tramite_show', { 'id': documento.tramite.id }) }}"> CANCELAR </span></a>
       {% endif %}
	 
	    <input class="btn btn-danger"  type="submit" value="Guardar" />
	</div>
{{ form_end(form) }}