{# Siarme\ExpedienteBundle\Resources\views\Expediente\modal_new.html.twig#}

<div class="modal fade bs-example-modal-lg" id="modal_index" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" >
  <div class="modal-dialog" style="width:1250px;" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span class="glyphicon glyphicon-transfer"></span> AGREGAR SAF
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">

                <table id="tablaTramite" class=" table hover" style="width:100%">
                  <thead>
                      <tr>
                          <th>Organismo</th>
                          <th>Clasificacion</th>
                          <th>Acción</th>
                      </tr>
                  </thead>
                  <tbody>

                  {% for organismo in organismos %}
                      <tr>
                          <td>{{ organismo.organismo }}</td>
                          <td>{{ organismo.clasificacion }}</td>
                          <td> 
                            <div class="acciones"> 
                                {% for key, organismo2 in expediente.organismos if organismo2.id == organismo.id %}
                                        <a class="organismo_accion" href="#" data-href="{{ path('organismo_quitar', { 'id': organismo.id, 'expediente_id': expediente.id }) }}"><span class="glyphicon glyphicon glyphicon-remove-sign text-danger"></span> QUITAR</a>
                                {% else %} 
                                      <a class="organismo_accion"  href="#" data-href="{{ path('organismo_agregar', { 'id': organismo.id, 'expediente_id': expediente.id }) }}"><span class="glyphicon glyphicon-plus-sign"></span> AGREGAR </a>
                                {% endfor %} 
                            </div>
                          </td>
                      </tr>
                  {% endfor %}
                  </tbody>
                </table>

        </div>
        <div class="modal-footer">
        </div>
    </div>
  </div>
</div> 