 <form class="navbar-form"  method="post" action="{{ path('email_enviar_tarea', {'id':tarea.id}) }}">
      <div class="form-group">
         <textarea  name="texto" rows="10" cols="20" required>{{tarea.tramite}}</textarea>
      </div>
     <button type="submit" class="button btn-sm btn-primary">Enviar</button>
</form>  