{# Siarme\ExpedienteBundle\Resources\views\DatoAt\turnos_index.html.twig #}
{% extends 'ExpedienteBundle:Default:layout.html.twig' %}
{% block title %} Turnos {% endblock %}
{% block menu_li %}

{% endblock %}

{% block contenido %}


{% block mensaje %}
 {{ include('ExpedienteBundle:Default:_mensaje.html.twig') }}
{% endblock %}
{# -- ------------------------------------------------------------------ --#} 
        <div class="navigation pagination" style="margin:1px;">
        {{ knp_pagination_render(pagination)  }}
        </div>
    {{ include('ExpedienteBundle:Expediente:_panel_expediente.html.twig', {'pagination' : pagination , 'find': find | upper }) }}
   
        <div class="navigation pagination">
        {{ knp_pagination_render(pagination)  }}
        </div>
{# -- ------------------------------------------------------------------ --#} 
  


{% endblock %}
