<!DOCTYPE html>
{# Siarme\ExpedienteBundle\Resources\views\Credito\modal_new.html.twig#}
{{ form_start(form,  {'action': path('credito_edit', {'id':credito.id}), 'method': 'POST'}) }}
          {{ form_widget(form) }}
            <div class="text-right">
                 <input class="btn btn-danger" type="submit" value="GUARDAR" />
            </div>
{{ form_end(form) }}
