{% extends 'ExpedienteBundle:Default:layout.html.twig' %}
{% block title %} {{proveedor}}{% endblock %}
{% block contenido %}
 <div class="container"> 
 <ul class="nav nav-pills hidden-print"> 
      
       <!-- Menu DERECHO *** IMPRIMIR - COPIAR -->
    <div class="pull-right">
            <li  role="presentation">
                <a href="javascript:if(window.print)window.print()" value="Imprimir" role="button"><!-- Printer-imprime el texto de clase="print" -->
                <span class="glyphicon glyphicon-print" ></span> Imprimir</a>
            </li>
    </div> 
</ul> 
        <div id="print" class="panel panel-default print">
            <div class="panel-heading text-center">  
               <h4> PROVEEDOR</h4>
            </div>
             <div class="panel-body">
            {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
            <div class="text-right">
                <input class="btn btn-danger text-right" type="submit" value="GUARDAR" />
            </div>
            {{ form_end(edit_form) }}
        </div></div>
</div>
{% endblock %}

