{% extends 'ExpedienteBundle:Default:layout.html.twig' %}
{% block title %}PROVEEDOR{% endblock %} 
{% block main %}

<div id="print" class="panel panel-default print">
    <div class="panel-heading text-center">  
       <h4> NUEVO PROVEEDOR</h4>
    </div>
     <div class="panel-body">
        {{ form_start(form) }}
            {{ form_widget(form) }}
        <div class="text-right">
           <input class="btn btn-danger text-right" type="submit" value="GUARDAR" />
       </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
