{% set cantidad = ((compartiste | length ) + (compartieron | length)) %}
  {% if cantidad > 0  %}

        <a class="dropdown-toggle glyphicon glyphicon-bell" data-toggle="dropdown" role="button" aria-expanded="false">  <span class="text-success badge">  {{ cantidad }} </span></a>
        <div  class="dropdown-menu" style="width:300px">          
              <table class="table table-hover table-responsive" >
                  <thead>
                  </thead>
                  <tbody>
                  {% for compartido in compartiste | sort | reverse %}

                  {% if ( app.user.id == compartido.usuarioEnvia.id) or ( app.user.id == compartido.usuarioRecive.id) %}
                      <tr>                
                          <td> 
                              <small>                
                             <span class="text-muted">  Compartiste con &nbsp;

                              {% if ( app.user.id == compartido.usuarioRecive.id) %}
                                   <a data-toggle="tooltip" data-placement="top" title='{{ compartido.usuarioRecive }}' class='glyphicon glyphicon-user glyphicon text-success small'>
                                   </a>  
                              {% else %}       
                                    <a data-toggle="tooltip" data-placement="top" title='{{ compartido.usuarioRecive}}' class='glyphicon glyphicon-user glyphicon text-default'></a> 
                             {% endif %}
                             {{ compartido.usuarioRecive.usuario}} &nbsp;
                             {% if compartido.fecha %}{% endif %}
                             </span> </small> <br> 
                             {% set entidad = compartido.tipoId | Entidad(compartido.tipo) %}
                             <small>  {{ entidad | raw }}</small> <br>
                             {{ compartido.texto }}

                          </td>                
                          <td class="text-center"> 
                             
                              {% if (compartido.estado == true) and ( app.user.id == compartido.usuarioEnvia.id)  %}

                               <a href="{{ path('compartir_eliminar', { 'id': compartido.id }) }}"><span data-toggle="tooltip" data-placement="top" title='Dejar de Compartir' class="glyphicon glyphicon-remove"></span></a>

                              {% endif %}
                              {% if (compartido.tipo != "MSJ")  %}
                              <br> 
                                <a href="{{ path('compartir_show', { 'id': compartido.id }) }}"><span data-toggle="tooltip" data-placement="top" title='Ver' class="glyphicon glyphicon-eye-open"></span></a>
                              {% endif %}
                                <br>
                                <br>
                               {% if compartido.estado %}
                                  <span data-toggle="tooltip" data-placement="top" title='Visto' class="glyphicon glyphicon-ok text-success"></span>
                              {% else %}
                                     <span data-toggle="tooltip" data-placement="top" title='Pendiente' class="glyphicon glyphicon-ok text-muted"></span>
                             {% endif %}
                           </td>
                      </tr>
                        {% endif %}
                  {% endfor %}

                {% for compartido in compartieron | sort | reverse %}

                  {% if ( app.user.id == compartido.usuarioEnvia.id) or ( app.user.id == compartido.usuarioRecive.id) %}
                      <tr>                
                          <td> 
                              <small>
                              {% if ( app.user.id == compartido.usuarioEnvia.id) %}
                                   <a data-toggle="tooltip" data-placement="top" title='{{ compartido.usuarioEnvia }}' class='glyphicon glyphicon-user glyphicon text-success small'>
                                   </a>  
                              {% else %}       
                                    <a data-toggle="tooltip" data-placement="top" title='{{ compartido.usuarioEnvia}}' class='glyphicon glyphicon-user glyphicon text-default'></a> 
                             {% endif %} 

                             <span class="text-muted">  {{ compartido.usuarioEnvia.usuario}} &emsp; Compartió contigo &emsp;
                             {% if compartido.fecha %}{{ compartido.fecha| long_time }}{% endif %}
                             </span> </small> <br> 
                             {% set entidad = compartido.tipoId | Entidad(compartido.tipo) %}
                             <small>  {{ entidad | raw  }}</small> <br>
                             {{ compartido.texto }} 

                          </td>                
                          <td class="text-center"> 
                              

                              {% if (compartido.estado == true) and ( app.user.id == compartido.usuarioRecive.id) %}
                               <a href="{{ path('compartir_eliminar', { 'id': compartido.id }) }}" ><span data-toggle="tooltip" data-placement="top" title='Dejar de Compartir' class="glyphicon glyphicon-remove"></span></a>
                              {% endif %}
                              {% if (compartido.tipo != "MSJ")  %}
                              <br> 
                                <a href="{{ path('compartir_show', { 'id': compartido.id }) }}"><span data-toggle="tooltip" data-placement="top" title='Ver' class="glyphicon glyphicon-eye-open"></span></a>
                                {% endif %}
                                <br>
                                <br>
                              {% if compartido.estado %}
                                  <span data-toggle="tooltip" data-placement="top" title='Visto' class="glyphicon glyphicon-ok text-success"></span>

                              {% else %}
                                     <span data-toggle="tooltip" data-placement="top" title='Pendiente' class="glyphicon glyphicon-ok text-muted"></span>
                             {% endif %}
                           </td>
                      </tr>
                        {% endif %}

                  {% endfor %}
                  </tbody>
              </table>
    </div>
       
{% endif %}