 {% if agente.localidad is empty %}
       <a class="label label-info" data-toggle="tooltip" data-placement="top" title="ACTUALIZAR los datos del Agente" href="{{ path('agente_edit', { 'id': agente.id }) }}"> Actualiar</a> 
{% else %}
    <div class="dropdown text-left"> 
 

    {#
       <span   data-toggle="tooltip" data-placement="top" title="Nuevo Expediente">
          <a  type="button"  data-toggle="modal" data-target="#myModalNewExpediente{{agente.id}}"  role="button"><span class="glyphicon glyphicon-folder-open"></span> Nuevo</a>
       </span> &nbsp;
        
       <span  data-toggle="tooltip" data-placement="top" title="Nueva Licencia">
           <a  type="button"  class="nuevalicencia"  data-toggle="modal" data-target="#myModalNewLicencia{{agente.id}}"  role="button"><span class="glyphicon glyphicon-tags text-info"></span> Nueva</a>
       </span> 
       #}
   </div>      
       {% if agente is defined  %}
      {{ render(controller('AusentismoBundle:Licencia:licenciaModalNew',
       { 'id': agente.id } )) }} 
     {% endif %} 
{% endif %}